
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 187 55% 45%;
    --primary-foreground: 187 55% 97%;
    --secondary: 187 29% 80%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 187 29% 80%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 187 55% 45%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 203 39% 19%;
    --foreground: 187 55% 45%;
    --card: 203 39% 19%;
    --card-foreground: 187 55% 45%;
    --popover: 203 39% 19%;
    --popover-foreground: 187 55% 45%;
    --primary: 187 55% 45%;
    --primary-foreground: 187 55% 97%;
    --secondary: 187 29% 80%;
    --secondary-foreground: 0 0% 98%;
    --muted: 203 39% 19%;
    --muted-foreground: 187 29% 80%;
    --accent: 187 29% 80%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 39% 19%;
    --input: 203 39% 19%;
    --ring: 187 55% 45%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground overflow-hidden antialiased;
  }

  .glass {
    @apply bg-background/50 backdrop-blur-xl border border-border/50 shadow-lg;
  }

  .dark .message-bubble {
    @apply bg-background/70;
  }

  .dark .message-bubble.user-message {
    @apply bg-primary text-primary-foreground;
  }

  .dark .side-chat {
    @apply hover:bg-accent/30;
  }
}
